#what
  Lonecraft is a way to play single-player Minecraft on a multiplayer server. It ensures that only one person can play at a time, but once you die, you're banned from that world forever. You select the next person to play and the chain continues until the world resets; in the meantime, you can write about your experiences in this world-- what you saw and what you did. Once the chain has ended and the world is reset, the world you saw will be chronicled on the website using your writings and those of anyone else who played in that chain.

#who
  :markdown
    Lonecraft is a project by [Casey Kolderup][cko].
    [cko]: http://casey.kolderup.org
