#rounds
  - for round in @rounds
    #round
      #player
        #{round.try(:user).try(:mc_name)}
      #time
        Started #{round.try(:started)}; finished #{round.try(:finished)}
      #story
        #{Redcarpet.new(round.try(:story)||"").try(:to_html) || "No story for this round yet"}

