#rounds
  - for round in @rounds
    #round
      #player
        #{round.try(:user).try(:mc_name)}
      #time
        Started #{round.try(:started)}; finished #{round.try(:finished)}
      #story
        #{round.try(:story) || "No story for this round yet"}

