%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = "Lonecraft"
    %link{:rel => "stylesheet", :href => "/lonecraft.css", :type => "text/css", :media => "all"}
  %body
    #header
      #logo
        %a{:href => "/"} Lonecraft
      %ul#nav
        - if logged_in?
          %li#first
            %a{:href => "/play"} Got a token?
          %li
            %a{:href => "/account"} Account
          %li
            %a{:href => "/logout"} Logout
        - else
          %li#first 
            %a{:href => "/login"} Login

    #content
      - if flash[:error]
        #flash.error
          = flash[:error]
      - elsif flash[:notice]
        #flash.notice
          = flash[:notice]

      =yield
