%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = "Minebound"
    %link{:rel => "stylesheet", :href => "/minebound.css", :type => "text/css", :media => "all"}
  %body
    #header
      #logo
        Minebound
      #nav
        - if logged_in?
          %a{:href => "/account"} Account
          %a{:href => "/logout"} Logout
        - else
          %a{:href => "/login"} Login

    #content
      =yield
