$nav_height: 50px

body
  background-color: #145414

#header
  font: 18px sans-serif
  color: #fff
  a
    color: #fff
  height: $nav_height
  margin-top: 15px
  #logo
    float: left
    left: 10px
    position: relative
  .nav
    float: right
    right: 10px

#footer
  font: 14px sans-serif
  color: #fff
  margin-top: 5px
  a
    color: #fff
  .nav
    text-align: center

.nav
  position: relative
  margin: 0
  list-style: none
  li
    display: inline
  li:before
    content: " - "
  li#first:before
    content: " "

#content
  top: $nav_height
  margin-top: 25px
  background-color: #fff
  color: #000
  margin-left: 50px
  margin-right: 50px
  padding: 20px

  div
    margin-bottom: 20px

#flash.error
  background-color: #f99

#flash.notice
  background-color: #ff9

.crucial
  font-weight: bold
